.disponivel {
  background-color: #c3cfd9;
  border: 1px solid #7b8b99;
}

.indisponivel {
  background-color: #fbe192;
  border: 1px solid #f7c52b;
}

.selecionado {
  background-color: #8dd7cf;
  border: 1px solid #1aae9e;
}
